body {
  margin: 0;
  font-family: "SamsungOne", arial, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.square-icon::after {
  content: ">";
}

.description-grey {
  color: #767676;
}
